{% extends "emails/base.html" %}
{% load i18n %}
{% load absolute_url %}

{% block site_title %}{{ site_name }}{% endblock %}

{% block content %}
    {% blocktrans %}Dear {{ name }},{% endblocktrans %}<br/>
    <br/>
    {% blocktrans %}At your request we send you a link to log in at {{ site_name }}.{% endblocktrans %}<br/>
    <br/>
    {% blocktrans %}To log in, click the following link, or copy the link to your browser.{% endblocktrans %}<br/>
    <br/>
    <a href="{{ login_url }}">{{ login_url }}</a><br/>
    <br/>
    {% blocktrans %}This link is valid until {{ due_date }}.{% endblocktrans %}
{% endblock %}
