{% extends "emails/base.html" %}
{% load i18n %}
{% load absolute_url %}

{% block content %}
    {% blocktrans %}Dear {{ name }},{% endblocktrans %}<br/>
<br/>
    {% blocktrans %}Thank you for creating an account at {{ site_name }}!{% endblocktrans %}<br/>
<br/>
    {% blocktrans %}You have already created an account with this email address, {{ email }}, at this site in the past. If you have forgotten your password, please use the link below to create a new password.{% endblocktrans %}<br/>
<br/>
    <a href="{{ password_link }}">{{ password_link }}</a><br/>
{% endblock %}
