{% extends "emails/base.html" %}
{% load i18n %}
{% load settings_value %}

{% block site_title %}{{ site_name }}{% endblock %}

{% block content %}
    {% blocktrans %}A site administrator, {{ actor_name }}, has created a new account for you at {{ site_name }}.{% endblocktrans %}<br/>
    <br/>
    {% blocktrans %}Please follow the link below to complete your profile.{% endblocktrans %}<br/>
    <br/>
    <a href="{{ complement_account_link }}">{{ complement_account_link }}</a><br/>
    <br/>
    {% blocktrans %}This link is valid until {{ due_date }}.{% endblocktrans %}<br/>
{% endblock %}
