{% load i18n %}
{% load include_asset %}

<div>
{% if 2FA.state == 'setup' %}
    <div class="card ___nopadding">
        <form method="post" action="/securitypages/2fa-setupnext/">
            {% csrf_token %}
            <h3 class="card__title ___addpadding-side">{% trans "Enable Two-factor Authentication" %}</h3>
            <fieldset class="___addpadding-side">
                <p>{% blocktrans %}Scan the QR-code below with your token generator and enter the generated token.{% endblocktrans %}</p>
                <p>
                    <center>
                        <img src="{{ 2FA.QR_URL }}" alt="QR Code" />
                    </center>
                </p>
                <br />
                <div class="input-field">
                    {{ 2FA.form.errors.token }}
                    {{ 2FA.form.token.label_tag }}
                    {{ 2FA.form.token }}
                </div>

                <p class="textcolor_secondary paragraph">
                    {% blocktrans %}Don't have a token generator? Try <a href="https://support.google.com/accounts/answer/1066447" target="_blank" rel="nofollow">Google Authenticator</a> or <a href="https://authy.com/download/" target="_blank" rel="nofollow">Authy</a>.{% endblocktrans %}
                </p>
            </fieldset>
            <div class="card__action ___addpadding-side">
                <button name="2fa-setupnext" type="submit" class="button  ___active ___clear login__login">{% trans "Next" %}</button>
            </div>
        </form>
    </div>
{% endif %}

{% if 2FA.state == 'disable' %}
    <div class="card ___nopadding">
        <form method="post" action="/securitypages/2fa-disableconfirm/">
            {% csrf_token %}
            <h3 class="card__title ___addpadding-side">{% trans "Disable Two-factor Authentication" %}</h3>
            <fieldset class="___addpadding-side">
                <p>{% blocktrans %}You are about to disable two-factor authentication. This
                compromises your account security, are you sure?{% endblocktrans %}</p>
                <div class="login__check">
                    <input id="id_understand" name="understand" type="checkbox" required="">
                    <label for="id_understand">{% trans "Yes, I am sure" %}</label>
                </div>
            </fieldset>
            <div class="card__action ___addpadding-side">
                <button name="2fa-disableconfirm" type="submit" class="button ___clear">{% trans "Disable" %}</button>
            </div>
        </form>
    </div>
{% endif %}

{% if 2FA.show_state %}
    <div class="card ___nopadding">
        {% if 2FA.default_device %}
            <h3 class="card__title ___addpadding-side">{% trans "Disable Two-Factor Authentication" %}</h3>
            <div class="___addpadding-side">
                <div class="image__2fa __disable">
                    {% include_asset "images/2fa.svg" %}
                </div>
                {% blocktrans %}However we strongly discourage you to do so, you can
                also disable two-factor authentication for your account.{% endblocktrans %}
            </div>
            <div class="card__action ___addpadding-side">
                <a href="{% url 'security_pages' page_action='2fa-disable' %}" class="button ___clear">{% trans "Disable" %}</a>
            </div>
        {% else %}
            <h3 class="card__title ___addpadding-side">{% trans "Enable Two-Factor Authentication" %}</h3>
            <div class="___addpadding-side">
                <div class="image__2fa __enable">
                    {% include_asset "images/2fa.svg" %}
                </div>
                {% blocktrans %}Two-factor authentication is not enabled for your
                    account. Enable two-factor authentication for enhanced account
                    security.{% endblocktrans %}
            </div>
            <form method="post" action="/securitypages/2fa-setup/">
                <div class="card__action ___addpadding-side">
                    {% csrf_token %}
                    <button name="2fa-setup" type="submit" class="button __stretch ___clear">{% trans "Enable" %}</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endif %}

{% if 2FA.state == 'default' %}
    {% if 2FA.default_device %}
        <div class="card ___nopadding">
            <h3 class="card__title ___addpadding-side">{% trans "Backup Tokens" %}</h3>
            <p class="___addpadding-side">
                {% trans "Tokens will be generated by your token generator." %}<br /><br />
                {% blocktrans %}If you don't have any device with you, you can access your account using backup tokens.{% endblocktrans %}
                {% blocktrans count counter=2FA.backup_tokens %}You have only one backup token remaining.{% plural %}You have {{ counter }} backup tokens remaining.{% endblocktrans %}
            </p>
            <div class="card__action ___addpadding-side">
                <a href="{% url 'security_pages' page_action='2fa-showcodes' %}" class="button ___clear">{% trans "Show Codes" %}</a>
            </div>
        </div>
    {% endif %}
{% endif %}

{% if 2FA.state == 'codes' %}
    <form method="post" action="." "page_action=2fa-generatecodes">{% csrf_token %}{{ form }}
        <div class="card ___nopadding">
        <h3 class="card__title ___addpadding-side">{% trans "Backup Tokens" %}</h3>
        <div class="___addpadding-side">
            <p>{% blocktrans %}Backup tokens can be used when your primary and backup
                phone numbers aren't available. The backup tokens below can be used
                for login verification. If you've used up all your backup tokens, you
                can generate a new set of backup tokens. Only the backup tokens shown
                below will be valid.{% endblocktrans %}</p>
                {% if 2FA.tokens.count %}
                <ul class="___inline">
                    {% for token in 2FA.tokens %}
                    <li>
                        <span class="badge ___tag grey">{{ token.token }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <br />
                <p>{% blocktrans %}Print these tokens and keep them somewhere safe.{% endblocktrans %}</p>
                {% else %}
                <p>{% trans "You don't have any backup codes yet." %}</p>
                {% endif %}
            </div>
            <div class="card__action ___addpadding-side">
                <button name="2fa-generatecodes" type="submit" class="button ___clear">{% trans "Generate Tokens" %}</button>
            </div>
        </div>
    </form>
{% endif %}
</div>
