{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load include_asset %}
{% load settings_value %}
{% get_current_language as LANGUAGE_CODE %}
{% settings_value 'SITE_FAVICON' as SITE_FAVICON %}
{% settings_value 'SITE_LOGO' as SITE_LOGO %}
{% settings_value 'SITE_TITLE' as SITE_TITLE %}
{% settings_value 'DEFAULT_SHOW_DESTINATION' as DEFAULT_SHOW_DESTINATION %}
{% settings_value 'DEFAULT_BACKGROUND_URL' as DEFAULT_BACKGROUND_URL %}
{% settings_value 'DEFAULT_DESTINATION_NAME' as DEFAULT_DESTINATION_NAME %}
{% settings_value 'DEFAULT_DESTINATION_URL' as DEFAULT_DESTINATION_URL %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ SITE_TITLE }}</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
        <link rel="icon" href="/media/{{ SITE_FAVICON }}">
        {% render_bundle "web" "css" %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script nonce="{{ request.csp_nonce }}">
          function onSubmit(token) {
            document.getElementById("register-form").submit();
          }
        </script>
       </head>
    <body>

            <div class="account--terms">
                {{ page_text }}
            </div>

        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="{% static "js/jquery-3.7.0.min.js" %}"></script>
        <script src="{% static "js/materialize-0.97.8.min.js" %}"></script>
        {% render_bundle "web" "js" %}
        {% include 'snipets/analytics.html' %}
    </body>
</html>
