{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Forbidden" %}</h2>
     <div class="account__cards">
         <div class="card ___nopadding">
            <div class="___addpadding-side">
                <br>
                <p>{% trans "CSRF verification failed. Request aborted." %}</p>
                <p>{% trans "You are seeing this message because this site requires a CSRF cookie when submitting forms. This cookie is required for security reasons, to ensure that your browser is not being hijacked by third parties." %}</p>
                <p>{% trans "If you have configured your browser to disable cookies, please re-enable them, at least for this site, or for 'same-origin' requests." %}</p>
                <p><a href="">{% trans "Click here to refresh the page and try again" %}</a></p>
                <p><img alt="" src="/static/images/csrf-failure.png" border=0 width=400></p>
            </div>
        </div>
    </div>
{% endblock %}
