{% extends "base_account.html" %}
{% load user_sessions %}
{% load i18n %}
{% load include_asset %}
{% load settings_value %}
{% load origin_site %}

{% block title %}{% trans "Dashboard" %} · {% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <ul class="messages correct" role="alert">
                    <li>
                        {% include_asset "icons/check.svg" %}
                        <div class="textcolor_primary">{% trans 'Success' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% elif 'error' in message.tags %}
                <ul class="messages error" role="alert">
                    <li>
                        {% include_asset "icons/person.svg" %}
                        <div class="textcolor_primary">{% trans 'Error' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}


    <div class="account__cards">
        <div class="card ___stretch ___nopadding">
            <h3 class="card__title ___addpadding-side">{% trans "Website overview" %}</h3>
            <fieldset class="___addpadding-side">

                <table class="table ___stretch dashboard-table">
                    <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th class="align-right">{% trans "Member since" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for registration in sites %}
                        <tr>
                            <td>
                                <div class="registration-data">
                                    {% when_test registration.origin_site.origin_site_url "(Test)" as test_site_label%}
                                    <div class="site-icon">
                                            <img alt="" src="{{ registration.origin_site.favicon_url }}"
                                                 class="site-icon-image">
                                    </div>
                                    <div class="site-info">
                                        <a class="site-info--title" href="{{ registration.origin_site.origin_site_url }}">{{ registration.origin_site }} {{ test_site_label }}</a><br>
                                        {% if registration.origin_site.origin_site_description %}
                                        <p class="site-info--description" >{{ registration.origin_site.origin_site_description }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                            <td class="align-right"><div class="site-member-since">{{ registration.created_at | date:"d-m-Y" }}</div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>

            </fieldset>

        </div>
    </div>

{% endblock %}
