{% extends "base_account.html" %}
{% load user_sessions %}
{% load i18n %}
{% load include_asset %}

{% block title %}{% trans "Remove my account" %} · {% endblock %}

{% block content %}

    <h2>{% trans "Remove my account" %}</h2>

    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <ul class="messages correct" role="alert">
                    <li>
                        {% include_asset "icons/check.svg" %}
                        <div class="textcolor_primary">{% trans 'Success' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% elif 'error' in message.tags %}
                <ul class="messages error" role="alert">
                    <li>
                        {% include_asset "icons/person.svg" %}
                        <div class="textcolor_primary">{% trans 'Error' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="account__cards">
        <div class="card ___nopadding">
            <h3 class="card__title ___addpadding-side">{% trans "Remove my account" %}</h3>

            <form method="post">
                <div class="___addpadding-side">
                    {% csrf_token %}
                    <div class="image__2fa __enable">
                        {% include_asset "icons/person.svg" %}
                    </div>
                    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
                    <p>{% blocktrans %}To remove your account you have to prove that you have access to the email address
                        that is attached tot this account. We will send a confirmation link to {{ email }} that will be valid
                        for 60 minutes. Please press "Confirm" to proceeed.{% endblocktrans %}</p>
                    <br>
                </div>

                <div class="card__action ___addpadding-side">
                    <button name="change_password" type="submit" class="button ___active ___clear" value="submit">{% trans "Confirm" %}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
