{% extends "base.html" %}
{% load user_sessions %}
{% load i18n %}
{% load include_asset %}

{% block title %}{% trans "Delete my account" %} · {% endblock %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <ul class="messages correct" role="alert">
                    <li>
                        {% include_asset "icons/check.svg" %}
                        <div class="textcolor_primary">{% trans 'Success' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% elif 'error' in message.tags %}
                <ul class="messages error" role="alert">
                    <li>
                        {% include_asset "icons/person.svg" %}
                        <div class="textcolor_primary">{% trans 'Error' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="account__cards">
        <div class="card ___nopadding">
            <h3 class="card__title ___addpadding-side">{% blocktrans %}Remove account for {{ name }}{% endblocktrans %}</h3>

            <form method="post">
                <div class="___addpadding-side">
                    {% csrf_token %}
                    <div class="image__2fa __enable">
                        {% include_asset "icons/person.svg" %}
                    </div>
                    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
                    <p>{% blocktrans %}If you press "Confirm" your account will be removed. You have to register again if you would
                        like to rejoin this site. Please press "Confirm" to proceeed.{% endblocktrans %}</p>
                    <br>
                </div>

                <div class="card__action ___addpadding-side">
                    <button name="change_password" type="submit" class="button ___active ___clear" value="submit">{% trans "Confirm" %}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
