{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}
{% load settings_value %}
{% load wcag_complience %}

{% block title %}{% trans "Reset password" %} · {% endblock %}

{% block content %}

<form method="post" action="." novalidate>
    {% csrf_token %}
    <div class="login__step-title">
        <div>
            <h2>{% trans "Reset password" %}</h2>
            <p>{% trans "of your " %}{% settings_value 'SITE_TITLE' %}{% trans " account" %}</p>
        </div>
        <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
    </div>

    <ul class="messages error" role="alert">
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>

    <fieldset>
        <div class="input-field">
            <label for="id_new_password1">{% trans "New Password" %}</label>
            {{ form.new_password1|aria_invalid}}
            {% include "snipets/form_errors.html" with field=form.new_password1 %}
            <button type="button" class="password__toggle">
                                <div class="password__toggle-on">{% include_asset "icons/eye.svg" %}<span class="hide-visually">Verberg wachtwoord</span></div>
                                <div class="password__toggle-off">{% include_asset "icons/eye-off.svg" %}<span class="hide-visually">Toon wachtwoord</span></div>
                            </button>
        </div>

        <div class="input-field">
            <label for="id_new_password2">{% trans "New Password (again)" %}</label>
            {{ form.new_password2|aria_invalid}}
            {% include "snipets/form_errors.html" with field=form.new_password2 %}
            <button type="button" class="password__toggle">
                                <div class="password__toggle-on">{% include_asset "icons/eye.svg" %}<span class="hide-visually">Verberg wachtwoord</span></div>
                                <div class="password__toggle-off">{% include_asset "icons/eye-off.svg" %}<span class="hide-visually">Toon wachtwoord</span></div>
                            </button>
        </div>

        <div class="register__buttons">
            <button class="button ___stretch ___active" type="submit">{% trans "Confirm" %}</button>
        </div>
    </fieldset>
</form>

{% endblock %}
