{% extends "base_account.html" %}
{% load i18n %}
{% load include_asset %}
{% load show_government_badge %}
{% load settings_value %}
{% load avatars %}
{% load wcag_complience %}

{% block title %}{% trans "Profile" %} · {% endblock %}

{% block content %}
    <h2>{% trans "Profile" %}</h2>

    {% if messages %}
      {% for message in messages %}
        {% if 'success' in message.tags %}
            <ul class="messages correct" role="alert">
                <li>
                    {% include_asset "icons/check.svg" %}
                    {% if 'password' in message.tags %}
                        <div class="textcolor_primary">{% trans "Password changed" %}</div>
                        <div class="textcolor_secondary">{% trans "You can now login using your new password" %}</div>
                    {% elif 'email' in message.tags %}
                        <div class="textcolor_primary">{% trans "Email address changed" %}</div>
                        <div class="textcolor_secondary">{% trans "You can now login using your new email address" %}</div>
                    {% elif 'profile' in message.tags %}
                        <div class="textcolor_primary">{% trans "Profile changed" %}</div>
                        <div class="textcolor_secondary">{% trans "Your profile has been changed" %}</div>
                    {% else %}
                        <div class="textcolor_primary">{% trans 'Success' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    {% endif %}
                </li>
            </ul>
        {% elif 'info' in message.tags %}
            <ul class="messages info" role="alert">
                <li>
                    {% include_asset "icons/lock.svg" %}
                    {% if 'email_sent' in message.tags %}
                        <div class="textcolor_primary">{% trans 'Email sent' %}</div>
                        <div class="textcolor_secondary">{% trans "Please check your inbox to validate the change." %}</div>
                    {% elif 'account_created' in message.tags %}
                        <div class="textcolor_primary">{% trans 'Account created' %}</div>
                        <div class="textcolor_secondary">{% trans "Please check your inbox to set your password." %}</div>
                    {% else %}
                        <div class="textcolor_primary">{% trans 'Info' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    {% endif %}
                </li>
            </ul>
        {% elif 'error' in message.tags %}
            <ul class="messages error" role="alert">
                <li>
                    {% include_asset "icons/person.svg" %}
                    <div class="textcolor_primary">{% trans 'Error' %}</div>
                    <div class="textcolor_secondary">{{ message }}</div>
                </li>
            </ul>
        {% endif %}
      {% endfor %}
      <p></p>
    {% endif %}

    <form id="profile-form" enctype="multipart/form-data" method="post" action="." novalidate>
        <div class="account__cards">
            <div class="card ___nopadding">
                {% csrf_token %}
                <h3 class="card__title ___addpadding-side">{% trans "Your details" %}</h3>

                <ul class="messages error" role="alert">
                    {% for error in form.non_field_errors %}
                        <li>
                        {% include_asset "icons/person.svg" %}
                        <div class="textcolor_primary">{% trans "Invalid email address." %}</div>
                        <div class="textcolor_secondary">{{ error }}</div>
                        </li>
                    {% endfor %}
                </ul>
                <p></p><p></p>

                <fieldset class="___addpadding-side">
                    <div class="input-field">
                        <label for="id_name">{% trans "Name" %}</label>
                        {{ form.name|aria_invalid}}
                        {% include "snipets/form_errors.html" with field=form.name %}
                    </div>
                    <div class="input-field">
                        <label for="id_email">{% trans "Email" %}</label>
                        {{ form.email|aria_invalid}}
                        {% include "snipets/form_errors.html" with field=form.email %}
                        {% show_government_badge form.email.value as show_badge %}
                        {% if show_badge %}
                            <span class="badge green __uppercase">{% include_asset "icons/check.svg" %}{% trans "Government" %}</span>
                        {% endif %}
                    </div>
                    {% if text_change_pending %}
                        <div>
                            {{ text_change_pending }}<b>{{ text_email }}</b><br>
                            {% trans "Please check your inbox to validate the change." %}<br>
                            {% trans "Click " %}<a href="{% url 'send_new_email_activation' %}"><b>{% trans "here" %}</b></a> {% trans "to resend the confirmation e-mail." %}
                        </div>
                    {% endif %}

            </fieldset>
                <div class="card__action ___addpadding-side">
                    <button name="update" class="button ___clear" type="submit">{% trans "Save" %}</button>
                </div>
            </div>

            <div class="card ___nopadding">
                <h3 class="card__title ___addpadding-side">{% trans "Avatar" %}</h3>
                <div class="account-user__pickavatar ___addpadding-side">
                    <div class="input-field">
                        {% if request.user.avatar %}
                            <img src="{% avatar_url request.user "large" %}" alt="{% trans 'Avatar' %}" border=0 class="account-user__avatar">
                            <input id="avatar-clear_id" name="avatar-clear" type="checkbox" tabindex="-1">
                        {% else %}
                            <img src="/static/icons/person.svg" alt="{% trans 'Avatar' %}" border=0 class="account-user__avatar">
                        {% endif %}

                        {{ form.errors.avatar }}
                        <input id="id_avatar" name="avatar" type="file" accept=".jpg, .jpeg, .png">
                    </div>
                    <button id="avatar-change-button" class="button" type="button">{% trans "Choose an avatar" %}</button>
                </div>
                <div class="card__action ___addpadding-side">
                    <button id="avatar-clear-button" class="button ___clear" type="button" name="update">{% trans "Remove avatar" %}</button>
                </div>
            </div>
            <a href="{% url 'delete_account' %}" class="card ___nopadding button ___error">
                {% trans "Delete my account" %}
            </a>
        </div>
    </form>

    <script nonce="{{ request.csp_nonce }}">
        document.addEventListener("DOMContentLoaded", (event) => {
            const profileForm = document.getElementById("profile-form");
            const avatarChangeButton = document.getElementById("avatar-change-button");
            const avatarChangeInput = document.getElementById("id_avatar");
            const avatarClearButton = document.getElementById("avatar-clear-button");
            const avatarClearInput = document.getElementById("avatar-clear_id");

            avatarChangeButton.addEventListener("click", () => {
                avatarChangeInput.click();
            });

            avatarChangeInput.addEventListener("change", () => {
                profileForm.submit();
            });

            avatarClearButton.addEventListener("click", () => {
                avatarClearInput.checked = true;
                profileForm.submit();
            });
        });
    </script>
{% endblock %}
