{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}
{% load settings_value %}
{% load absolute_url %}
{% load wcag_complience %}

{% block title %}{% trans "Register an account" %} · {% endblock %}

{% block content %}

<form id="credentials-form" method="post" novalidate>
    {% csrf_token %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <div class="login__step-title">
        <div>
            <h2>{% trans "Register an account" %}</h2>
            <div></div>
        </div>
        <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <ul class="messages correct" role="alert">
                    <li>
                        {% include_asset "icons/check.svg" %}
                        <div class="textcolor_primary">{% trans 'Success' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% elif 'info' in message.tags %}
                <ul class="messages info" role="alert">
                    <li>
                    {% include_asset "icons/lock.svg" %}
                        <div class="textcolor_primary">{% trans "Information" %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% elif 'error' in message.tags %}
                <ul class="messages error" role="alert">
                    <li>
                        {% include_asset "icons/person.svg" %}
                        {% if 'cant_proceed' in message.tags %}
                            <div class="textcolor_primary">{% trans "Registration at Pleio failed." %}</div>
                            <div class="textcolor_secondary">{% trans "Please contact the site owner or your contact person to complete the registration process." %}</div>
                       {% else %}
                            <div class="textcolor_primary">{% trans 'Error' %}</div>
                            <div class="textcolor_secondary">{{ message }}</div>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

    <ul class="messages error" role="alert">
            {% for error in form.non_field_errors %}
            <li>
                {% include_asset "icons/person.svg" %}
                {% if error == 'captcha_mismatch' %}
                    <div class="textcolor_primary">{% trans "Login failed." %}</div>
                    <div class="textcolor_secondary">{% trans "Please check Google captcha." %}</div>
                {% else %}
                    <div class="textcolor_primary">{% trans 'Error' %}</div>
                    <div class="textcolor_secondary">{{ error }}</div>
                {% endif %}
            </li>
        {% endfor %}
</ul>

    <fieldset>
        <div class="input-field">
            <label for="id_name">{% trans "First- and lastname" %}</label>
            {{ form.name|aria_invalid}}
            {% include "snipets/form_errors.html" with field=form.name %}
        </div>
        <div class="input-field">
            <label for="id_email">{% trans "Email" %}</label>
            {{ form.email|aria_invalid}}
            {% include "snipets/form_errors.html" with field=form.email %}
        </div>
        <div class="input-field">
            <label for="id_password1">{% trans "Password (minimum of " %}{% settings_value "MINIMAL_PASSWORD_LENGTH" %}{% trans " characters)"%}</label>
            {{ form.password1|aria_invalid}}
            {% include "snipets/form_errors.html" with field=form.password1 %}
            <button type="button" class="password__toggle">
                                <div class="password__toggle-on">{% include_asset "icons/eye.svg" %}<span class="hide-visually">Verberg wachtwoord</span></div>
                                <div class="password__toggle-off">{% include_asset "icons/eye-off.svg" %}<span class="hide-visually">Toon wachtwoord</span></div>
                            </button>
            <p class="capslock"></p>
        </div>
        <div class="input-field">
            <label for="id_password2">{% trans "Password (again)" %}</label>
            {{ form.password2|aria_invalid}}
            {% include "snipets/form_errors.html" with field=form.password2 %}
            <button type="button" class="password__toggle">
                                <div class="password__toggle-on">{% include_asset "icons/eye.svg" %}<span class="hide-visually">Verberg wachtwoord</span></div>
                                <div class="password__toggle-off">{% include_asset "icons/eye-off.svg" %}<span class="hide-visually">Toon wachtwoord</span></div>
                            </button>
            <p class="capslock"></p>
        </div>

        <div class="register__checks">
            <div class="register__check">
                {{ form.accepted_terms|aria_invalid}}
                <label for="id_accepted_terms">{% trans "I agree with "%}
                {% if SITE_TERMS %}
                    <a href="{% absolute_url SITE_TERMS %}" target=_blank>
                {% else %}
                    <a target=_blank href="/pages/terms">
                {% endif %}
                {% trans "the general terms" %}</a></label>
            </div>
            {% include "snipets/form_errors.html" with field=form.accepted_terms %}
        </div>

        {% settings_value 'GOOGLE_RECAPTCHA_SITE_KEY' as recaptcha_site_key %}

        <div class="register__buttons">
            {% if recaptcha_site_key %}
                <button name="register" class="g-recaptcha button ___stretch ___active" data-sitekey="{{ recaptcha_site_key }}" data-callback='onSubmit'>{% trans "Register" %}</button>
            {% else %}
                <button name="register" class="button ___stretch ___active" type="submit">{% trans "Register" %}</button>
            {% endif %}
            <button name="button_login" class="button ___stretch ___white ___outline" type="submit">{% trans "Log in" %}</button>
        </div>

    </fieldset>
</form>

{% endblock %}
