{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}

{% block content %}
    <ul class="messages correct" role="alert">
        <li class="messages__link">
            {% include_asset "icons/email.svg" %}
            <div class="textcolor_primary">{% trans "Verify your email address" %}</div>
            <div class="textcolor_secondary">{% trans "Open the link in the verification email to complete your registration." %} </div>
        </li>
    </ul>

    <div class="register__buttons">
        <form id="credentials-form" method="post" novalidate>
            {% csrf_token %}
            <button class="button ___stretch ___white ___outline">{% trans "Log in" %}</button>
        </form>
    </div>
{% endblock %}
