{% extends "base_account.html" %}
{% load i18n %}

{% block content %}
<div class="account__cards">
    <div class="card ___nopadding">
        <h3 class="card__title ___addpadding-side">{% trans "Enable Two-factor Authentication" %}</h3>
        <p class="___addpadding-side">{% blocktrans %}Congratulations, you've successfully enabled two-factor
          authentication.{% endblocktrans %}</p>
        <div class="card__action ___addpadding-side">
            <a href="{% url 'two_factor:profile' %}" class="button ___clear">{% trans "Back to Profile" %}</a>
        </div>
    </div>
</div>
{% endblock %}
