{% extends 'base.html' %}

{% load i18n %}
{% load settings_value %}
{% load include_asset %}
{% load wcag_complience %}

{% block title %}{% trans "Sign in" %} · {% endblock %}

{% block content %}
    <form id="credentials-form" method="post" novalidate>
        {% csrf_token %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <div class="login__step-title">
            <div>
                {% if request.session.samlConnect %}
                    <h2>{% blocktrans %}Link to a {{ account_type }} account{% endblocktrans %}</h2>
                    <p>{% trans "You've successfully logged in with your organisation account for the first time." %}</p>
                {% else %}
                    <h2>{% trans "Sign in" %}</h2>
                {% endif %}
                {{ has_errors }}
            </div>
            <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
        </div>

        {% include 'login/errors.html' %}

        {% include 'login/messages.html' %}

        <fieldset class="loginview__email{% if not request.session.samlConnect %} ___active{% endif %}">
            <div class="input-field">
                <label for="id_username">{% trans "Email address" %}</label>
                {{ form.username|aria_invalid}}
                {% include "snipets/form_errors.html" with field=form.username %}
            </div>
        </fieldset>

        {% if show_next %}
            <button name="button_next" class="button ___active login__check_account_type ___stretch" type="submit">{% trans "Log in" %}</button>
        {% endif %}

        {% if show_register %}
            <button name="button_register"
                    class="button ___outline ___stretch ___active"
                    type="submit">{% trans "Register an account" %}</button>
        {% endif %}

        {% if show_connectanduser %}
            <div class="login__buttons --small-margin ___active">
                <a href="{% url 'saml-connect' %}" class="button ___stretch ___active">
                    {% trans "Create a new " %}{% settings_value 'SITE_TITLE' %}{% trans " account" %}</a>
            </div>
            <div class="login__buttons --small-margin __active">
                <a href="{% url 'saml-connect-new' %}" class="button ___active ___outline ___stretch loginview__saml-regularlogin">
                    {% trans "Log in with your " %}{% settings_value 'SITE_TITLE' %}{% trans " account" %}</a>
            </div>
        {% endif %}

        {% if show_connect %}
            <div class="login__buttons --small-margin __active">
                <a href="{% url 'saml-connect-new' %}" class="button ___active ___stretch loginview__saml-regularlogin">
                    {% trans "Log in with your " %}{% settings_value 'SITE_TITLE' %}{% trans " account" %}</a>
            </div>
        {% endif %}

        <p></p>
    </form>

{% endblock %}
