{% extends 'base.html' %}

{% load i18n %}
{% load settings_value %}
{% load include_asset %}
{% load wcag_complience %}

{% block title %}{% trans "Sign in" %} · {% endblock %}

{% block content %}
    <form id="credentials-form" method="post" novalidate>
        {% csrf_token %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <div class="login__step-title">
            <div>
                <h2>{% trans "Sign in" %}</h2>
                {{ has_errors }}
            </div>
            <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
        </div>

        {% include 'login/errors.html' %}

        {% include 'login/messages.html' %}

        <fieldset class="loginview__email ___active">
            <div class="input-field">
                <label for="id_username">{% trans "Email address" %}</label>
                {{ form.username|aria_invalid}}
                {% include "snipets/form_errors.html" with field=form.username %}
            </div>

            <div class="input-field">
                <label for="id_password">{% trans "Password" %}</label>
                {{ form.password|aria_invalid}}
                {% include "snipets/form_errors.html" with field=form.password %}
                <button type="button" class="password__toggle">
                    <div class="password__toggle-on">{% include_asset "icons/eye.svg" %}<span class="hide-visually">{% trans "Hide password" %}</span></div>
                    <div class="password__toggle-off">{% include_asset "icons/eye-off.svg" %}<span class="hide-visually">{% trans "Show password" %}</span></div>
                </button>
                <a href="{{ pwd_reset_link }}" class="forgot-password js-forgot-password">{% trans "Forgot password" %}?</a>
                <p class="capslock"></p>
            </div>

        </fieldset>

        {% if show_recaptcha %}
            {% settings_value 'GOOGLE_RECAPTCHA_SITE_KEY' as recaptcha_site_key %}
        {% endif %}
        <button name="button_password_login"
                data-track-content=""
                data-content-name="log_in_by_password"
                class="button ___active login__check_account_type ___stretch{% if recaptcha_site_key %} g-recaptcha{% endif %}"
                {% if recaptcha_site_key %}data-sitekey="{{ recaptcha_site_key }}"{% endif %}
                data-callback='onSubmit'>{% trans "Log in with password" %}</button>
        <button name="button_email_login"
                data-track-content=""
                data-content-name="send_login_link"
                class="button ___active login__check_account_type ___stretch ___outline{% if recaptcha_site_key %} g-recaptcha{% endif %}"
                {% if recaptcha_site_key %}data-sitekey="{{ recaptcha_site_key }}"{% endif %}
                data-callback='onSubmit'>{% include_asset "icons/magic.svg" %}&nbsp;{% trans "Log in with email" %}</button>
        <p class="button-description">{% trans "We'll email you a link to log in password-free." %}</p>

        <button name="button_back"
                class="button ___active ___outline ___black login__check_account_type ___stretch"
                type="submit">{% trans "Go back" %}</button>

        <p></p>
    </form>
{% endblock %}
