{% load i18n %}
{% load include_asset %}

    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <ul class="messages correct" role="alert">
                    <li>
                        {% include_asset "icons/check.svg" %}
                        <div class="textcolor_primary">{% trans 'Success' %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    </li>
                </ul>
            {% elif 'info' in message.tags %}
                <ul class="messages info" role="alert">
                    <li>
                    {% include_asset "icons/lock.svg" %}
                    {% if 'register' in message.tags %}
                        <div class="textcolor_primary">{% trans "We could not find a valid account for this email address." %}</div>
                        <div class="textcolor_secondary">{% trans "Register your email address to proceed." %}</div>
                    {% elif 'samlreg' in message.tags %}
                        <div class="textcolor_primary">{% trans "We could not find a valid account for this email address." %}</div>
                        <div class="textcolor_secondary">{% trans "Login using your " %}{{ idp }}{% trans " account, or register your email address." %}</div>
                    {% else %}
                        <div class="textcolor_primary">{% trans "Information" %}</div>
                        <div class="textcolor_secondary">{{ message }}</div>
                    {% endif %}
                    </li>
                </ul>
            {% elif 'error' in message.tags %}
                <ul class="messages error" role="alert">
                    <li>
                        {% include_asset "icons/person.svg" %}
                        {% if 'banned' in message.tags %}
                            <div class="textcolor_primary">{% trans "This account is suspended." %}</div>
                            <div class="textcolor_secondary">{% trans "Please contact " %}<a href="mailto:{{ EMAIL_SUPPORT }}">{{ EMAIL_SUPPORT }}</a></div>
                        {% elif 'inactive' in message.tags %}
                            <div class="textcolor_primary">{% trans "This account is inactive." %}</div>
                            <div class="textcolor_secondary">{% trans "Please check your email to validate your account." %}</div>
                        {% else %}
                            <div class="textcolor_primary">{% trans 'Error' %}</div>
                            <div class="textcolor_secondary">{{ message }}</div>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
